
.topnav {
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #7d7d7d;
  }

  .topnav a.active {
    background-color:#70587c;
    color: white;
  }

  .user-icon{
    float:right;
    cursor:pointer;
    border:none;
    width:48px;
    height:48px;
}

.map-content {
    float:left;
}
  .map-picture {
    /* The map position */
    background-image: url("image/map.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
  
    /* Needed to position the search bar */
    position: relative;
  }

  /* Position the search bar container inside the image */
  .map-container {
    position: absolute;
    margin: 20px;
    width: auto;
  }

  