body{
    margin: 0px;
   }

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 250px;
}

.button:hover {
  background-color: #555555;
  color: white;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #7d7d7d;
  }

  .topnav a.active {
    background-color:#70587c;
    color: white;
  }

  .user-icon{
    float:right;
    cursor:pointer;
    border:none;
    width:48px;
    height:48px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#map {
    height: 100%;
}
.map-content {
    float:left;
    width:95%;
    height:50%;
    margin: 5px;
}
  

  /* Position the search bar container inside the image
  .map-container {
    position: absolute;
    margin: 20px;
    width: auto;
  } */

  